$planner-table-date-bg: #CCC;

.planner-table {
	.planner-table-header {
		.planner-table-date {
			text-align: center;
			font-size: 0.8rem;

			&:nth-child(odd) {
				margin-bottom: 20px;
			}

			&:nth-child(even) {
				margin-top: 20px;	
			}
		}
	}

	.planner-table-body {
		min-height: 30px;

		.planner-table-date {
			background-color: lighten($planner-table-date-bg, 10%);
			border-bottom: 1px solid $planner-table-date-bg;

			&:after {
				content: "";
			    position: absolute;
			    border-left: 1px solid $planner-table-date-bg;
			    height: 100%;
			    left: 50%;	
			}

			&:first-child {
				border-left: none;
			}
		}

		&:first-child {
			.planner-table-date {
				border-top: 1px solid $planner-table-date-bg;
			}
		}

		&:last-child {
			.planner-table-date {
				border-bottom: 1px solid $planner-table-date-bg;
			}
		}
	}
}